{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'success.css' %}">
</head>
<body>
	<div class="forgot_container">
		<h2>Password Reset</h1>
        <p class="password">Enter your new password for your account</p>
		<form action="#" method="post">
			<label for="password">New Password:</label><br>
			<input type="password" id="password" name="password" required><br>
			<label for="confirm-password">Confirm Password:</label><br>
			<input type="password" id="confirm-password" name="confirm-password" required><br>
			<input type="submit" value="Change my password">
		</form>
	</div>
</body>
</html>
