body {
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
  text-align: center;
  margin: 0;
  padding: 0;
}
img{
  text-align: center;
}
#message{
  font-weight: lighter;
  font-size: small;
  text-decoration-color: lightslategray;
}
#welcome{
  font-weight: bold;
  color: hsl(207, 100%, 50%);
}
.container {
  max-width: 500px;
  margin: auto ;
  margin-top: 40px;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}
.caution{
  height: 5px ;
  width: 5px;
}

.btn {
  display: inline-block;
  background-color: hsl(207, 100%, 50%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight:normal;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


#caution1{
  width: 50;
  height: 50;
}
.password{
  font-size: 13px;
  font-weight:300;
}
.btn:hover {
  background-color: #00d91d;
}
#message1{
  font-size: 12px;
  color: hsla(112, 78%, 42%, 0.774);
}
.submit{
  font-weight: bold;
}
.forgot_container {
  margin: auto;
  width: 50%;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
label {
  display: inline-block;
  width: 150px;
  text-align: left;
}
h1 {
  font-size: 36px;
  margin-bottom: 30px;
}
input[type=password] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 70%;
  margin-bottom: 20px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #3e8e41;
}